/* posts */

.feed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
  }
  .feed h1 {
    font-size: 1.7rem;
  }
  .feed-text {
    display: flex;
    align-items: center;
  }
  .feed-text h2 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .feed-text span {
    font-size: 1rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
  }
  
  .main-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 11px;
  }
  .post-box {
    width: 300px;
  }
  .post-box img {
    width: 100%;
    height: 344px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
  }
  .post-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }
  .post-img img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e2336b;
    object-position: center;
  }
  
  .post-profile {
    display: flex;
    align-items: center;
  }
  .post-profile h3 {
    font-size: 12px;
    font-weight: 600px;
    margin-left: 5px;
  }
  .likes {
    display: flex;
    align-items: center;
  }
  .likes i {
    font-size: 20px;
    margin-left: 7px;
  }
  .likes span {
    font-size: 14px;
    margin-left: 7px;
  }



  /* post box chanegs */

.post-box{
    margin-left: 3.4rem;
    margin-top: 4.9rem;
}
.post-info{
  background-color: #96eea1;

}

.section-2{
    margin: 2rem;
    color: white;
}